<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Архив статей</title>
<body>
<div class="header">
    <img src="https://avatars.mds.yandex.net/i?id=56d80bc2bd1729be759561e28b813e3a3ba7a50e-7803878-images-thumbs&n=13&exp=1">
</div>
<div class="archive">
    {% for post in posts %}
    <div class="one-post">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created- date">{{ post.created_date }}</div>
        </div>
        <p class="article-text">{{ post.get_excerpt }}</p>
    </div>
    {% endfor %}

</div>
</body>
</html>